<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3 align="center">Fill up the below form</h3>

        <app-form-control [form]='form' key="firstname"></app-form-control>
        <app-form-control [form]='form' key="lastName"></app-form-control>
        <app-form-control [form]='form' key="email"></app-form-control>
        <app-form-control [form]='form' key="address"></app-form-control>
        <app-form-control [form]='form' key="dob"></app-form-control>
        <app-form-control [form]='form' key="city"></app-form-control>
  
    </div>
</div>